/* Typography */
:root{
    --icon-size: 24px;
    --icon-container-size: 48px;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

/* icon */
.icon-container{
    margin-top: 16px;
    width: var(--icon-container-size);
    height: var(--icon-container-size);
    background: rgba(241, 243, 244, 1);
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: var(--icon-size);
    height: var(--icon-size);
}


/* badge */
.badge{
    position: relative;
    width: 112px;
    height: 112px;
    border-radius: 5px;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge__icon{
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 1px;
}

.badge:hover{
    background-color: #e8e8e9;
}

.badge:hover .badge__icon{
    opacity: 1;
}

.delay-1s{
    transition-delay: 1s;
}