/* Typography */
:root{
    --icon-size: 24px;
    --icon-container-size: 48px;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

a{
    text-decoration: none;
    color: black;
}

/* icon */
.icon-container{
    align-items: center;
    background: rgba(241, 243, 244, 1);
    border-radius: 100%;
    display: inline-flex;
    height: var(--icon-container-size);
    justify-content: center;
    margin-top: 16px;
    width: var(--icon-container-size);
}

.icon{
    width: var(--icon-size);
    height: var(--icon-size);
}

.icon-loupe{
    width: 15px;
    height: 15px;
}

/* badge */
.badge{
    align-items: center;
    border-radius: 5px;  
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 112px;
    position: relative;
    width: 112px;
}

.badge__icon-container{
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 2px;
    width: 25px;
    height: 25px;
}

.badge__icon{
    opacity: 0;
    width: 20px;
    height: 20px;
}

.badge:hover{
    background-color: #e8e8e9;
}

.badge:hover .badge__icon{
    opacity: 1;
}

.badge__icon-container:hover{
    background-color: #d3d3d5;
}

/* input */
.input-group{
    padding: 14px 20px;
    display: flex;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 lightgrey;
    align-items: center;
}

.input-group .input{
    flex-grow: 1;
    margin-left: 1rem;
    border: 0;
    outline: 0;
    align-self: flex-end;
}

/* @media screen and (min-width: 560px){
    .input-group{
        max-width: 450px;
    }
}

@media screen and (min-width: 672px){
    .input-group{
        max-width: 562px;
    }
} */

/* container */
.container{
    max-width: 337px;
    display: flex;
    margin: 0 auto;
}

@media screen and (min-width: 560px){
    .container{
        max-width: 450px;
    }
}

@media screen and (min-width: 672px){
    .container{
        max-width: 562px;
    }
}

/* grid */
.grid{
    display: grid;
}

.grid-1x3{
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 560px){
    .grid-1x4{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 672px){
    .grid-1x5{
        grid-template-columns: repeat(5, 1fr);
    }
}

/* logo */
.logo{
    width: 100%;
    max-width: 500px;
    justify-self: center;
}

/* avata */
.avata{
    width: calc(var(--icon-container-size) - 10px);
    height: calc(var(--icon-container-size) - 10px);
    border-radius: 100%;
}

/* list */
.list{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem 0 0;
    margin: 1rem;
}

.list__item:first-child{
    margin: 0 1.5rem 0 0;
}

.left-list, 
.right-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-list__item:first-child{
    margin: 0 2rem 0 0;
}

.left-list__item:hover{
    text-decoration: underline;
}

.right-list__item{
    margin: 0 1rem 0 0;
    cursor: pointer;
}

.right-list .icon-container{
    background: none;
}

.right-list .icon-container:hover{
    background: rgba(241, 243, 244, 1);
}
