<ul class="list">
    <li class="list__item">
        <span class="left-list">
            <a class="left-list__item" href="#">Gmail</a>
            <a class="left-list__item" href="#">Images</a>
        </span>
    </li>
    <li class="list__item">
        <span class="right-list">
            <span class="icon-container right-list__item">
                <img class="icon" src="images/grid.svg" alt="">
            </span>
            <span class="icon-container right-list__item">
                <img class="avata" src="images/cat.jpeg" alt="user avata">
            </span>
        </span>
    </li>
</ul>